/* src/app/globals.css */

:root {
  --aluradarkblue: #051933; /* Fundo/Texto principal */
  --alurablue: #007bff; /* Azul vibrante (botões, destaques) */
  --aluragray: #f0f2f5; /* Fundo cinza elegante */
  --aluradarkgray: #333333; /* Texto secundário */
  --aluralightgray: #e0e0e0; /* Bordas, divisores */
}

/* Reset básico para todos os elementos */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: var(--aluragray); /* Podemos ajustar a fonte depois */
}

/* Outros estilos globais, se necessário */
